﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebFormL1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebFormL1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebFormL1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container menu__border--bottom">
            <div class="row" style="width:70%; margin-left:3px">
                <div class="col-md-3  border_cate" style="width: 200px;margin-left: -2px">
                    <a asp-controller="Employees" asp-action="Index"><h6>Quản lý Employee</h6></a>
                </div>
                <div class="col-md-3  border_cate" style="width: 160px; margin-left: -2px">
                    <a asp-controller="Provinces" asp-action="Index"><h6>Danh mục tỉnh</h6></a>
                </div>
                <div class="col-md-3 border_cate" style="width: 160px;margin-left: -2px">
                    <a asp-controller="Districts" asp-action="Index"><h6>Danh mục huyện</h6></a>
                </div>
                <div class="col-md-3 border_cate" style="width: 130px; margin-left: -2px">
                    <a asp-controller="Communes" asp-action="Index"><h6>Danh mục xã</h6></a>
                </div>
                <div class="col-md-3 border_cate" style="width: 170px; margin-left: -2px">
                    <a asp-controller="Departments" asp-action="Index"><h6>Danh mục phòng ban</h6></a>
                </div>
                <div class="col-md-3 border_cate" style="width: 170px; margin-left: -2px">
                    <a asp-controller="Attendances" asp-action="Index"><h6>Điểm danh</h6></a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebFormL1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    .border_cate {
        border-bottom: 25px solid #ADA9A9;
        border-right: 10px solid transparent;
        height: 0;
        width: 100px
    }

    a {
        text-decoration: none;
        color: black
    }

    .menu__border--bottom {
        border-bottom: 1px solid black;
    }
</style>
